!contrib/_project-files
!contrib/AsStrongAsFuck
!contrib/AtomPePacker
!contrib/callobf
!contrib/ConfuserEx
!contrib/denim
!contrib/exiftool.exe
!contrib/Hyperion
!contrib/Invoke-Obfuscation
!contrib/Freeze
!contrib/Mangle
!contrib/LoGIC.NET
!contrib/MPRESS
!contrib/Nimcrypt2
!contrib/NimPackt-v1
!contrib/packer64
!contrib/pe_tools
!contrib/peCloakCapstone
!contrib/project-files/
!contrib/smartassembly-projects
!contrib/sRDI
!contrib/upx
!contrib/vmprotect-projects
*.pyc
/CobaltStrike/cobaltProtectMyTooling.conf
/notes.txt
contrib/*
tests/*
